{% extends 'core/base.html' %}
{% load i18n %}

{% load project_tags %}

{% block content %}
{#http://thegraphicsfairy.com/vintage-clip-art-compass-steampunk/#}


<div class="content">
<div class="row">
<div class="col-md-6 col-md-offset-3 ">
    <div class="text-center">
        <i class="fa fa-compass fa-5x "></i> <h1><strong>{% project_name %}</strong></h1>
            <h2><strong>{% trans 'Free Open Source web based business intelligence software' %}</strong></h2>
    </div>
</div>
</div>
</div>
{% endblock content %}

