{% extends 'widgets/chartjs/base.html' %}

{% block content %}
    <canvas id="ChartJS{{ element_pk }}"></canvas>
{% endblock content %}

{% block javascript %}
    <script>
        $(document).ready(function(){
            var canvas = $("#ChartJS{{ element_pk }}");
            var context = canvas.get(0).getContext('2d');
            var container = canvas.parent();
            var chart = null;
            var data = JSON.parse("{{ original_data|escapejs }}");

            {% if javascript_enabled %}
                {{ javascript_code|safe }}
            {% endif %}

            $(window).resize(resizeCanvas);

            function resizeCanvas(){
                canvas.attr('width', $(container).width());
                canvas.attr('height', $(container).height());

                if (chart) {
                    chart.destroy();
                }
                chart = new Chart(context).Bar(data, {
                    scaleFontColor: "#fff",
                    scaleFontFamily: "'Raleway', sans-serif"
                });
            }
            resizeCanvas();
        });
    </script>
{% endblock javascript %}
