{% extends 'widgets/chartjs/base.html' %}

{% block content %}
    <canvas id="ChartJS{{ element_pk }}"></canvas>
{% endblock content %}

{% block javascript %}
    <script>

        var data = JSON.parse("{{ original_data|escapejs }}");

        {% if javascript_enabled %}
            {{ javascript_code|safe }}
        {% endif %}

        $(document).ready(function(){
            var canvas = $("#ChartJS{{ element_pk }}");
            var context = canvas.get(0).getContext('2d');
            var container = canvas.parent();
            var chart = new Chart(context).Bar(data);

            $(window).resize(resizeCanvas);

            function resizeCanvas(){
                canvas.attr('width', $(container).width());
                canvas.attr('height', $(container).height());

                chart.destroy();
                chart = new Chart(context).Bar(data);
            }
            resizeCanvas();
        });
    </script>
{% endblock javascript %}
