{% extends 'core/base.html' %}

{% load i18n %}

{% block content %}
    <div class="row">
        <div class="span12">
            <div class="widget">
                <div class="widget-header"> <i class="{{ node.icon }}"></i>
                    <h3>{{ dashboard }}</h3>
                </div>
                <div class="widget-content">
                    <div class="shortcuts">
                        {% for element in dashboard.get_children %}
                            <a href="{{ child_node.get_absolute_url }}" class="shortcut">
                                <i class="shortcut-icon {{ child_node.icon }}"></i>
                                <span class="shortcut-label">{{ child_node.label }}</span>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block menu %}
    {% for menu in menus %}
        <li>
            <a href="#">{{ menu }}</a>
            <ul>
                {% for report in menu.reports.all %}
                    <li><a class="report-button" href="{{ report.id }}">{{ report }}</a></li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
{% endblock menu %}
